name: Validate PullRequest

on:
  pull_request:

env:
  VCINSTALL: "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC"
  DEFINES: "/DUNICODE"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup clang-tidy
        run: sudo apt-get update && sudo apt-get install -y clang-tidy-15
      - name: Lint the code
        run: clang-tidy-15 --config-file=misc/.clang-tidy src/*
  check-format:
    name: Check source code format
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Clang-format
        shell: cmd
        run: |
          "%VCINSTALL%\Tools\Llvm\bin\clang-format.exe" --Werror --dry-run --ferror-limit=0 --style=file:misc\.clang-format src\*.cpp
  fetch-dependencies:
    name: Fetch dependencies of the project.
    runs-on: ubuntu-latest
    steps:
        - name: Checkout engine code
          uses: actions/checkout@v3
          with:
            repository: an0rak-dev/avatar-engine
            ref: main # On PR testing, we match the latest code of the engine
            path: avatar-engine
        - name: Save engine includes
          uses: actions/upload-artifact@v3
          with:
            name: engine-includes
            path: avatar-engine/includes
            retention-days: 1
  build-sources:
    name: Build the source code
    runs-on: windows-latest
    needs: fetch-dependencies
    steps:
      - name: Retrieve Engine includes
        uses: actions/download-artifact@v3
        with:
          name: engine-includes
          path: avatar-engine/includes
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: avatar-mod-winrt
      - name: Compile
        shell: cmd
        run: |
          call "%VCINSTALL%\\Auxiliary\\Build\\vcvarsall.bat" x64
          cl.exe /Zi /EHsc /nologo /FC /c %DEFINES% /Iavatar-engine\includes /Iavatar-mod-winrt\includes avatar-mod-winrt\src\*.cpp
          if %errorlevel% neq 0 exit /b 1
          lib.exe /nologo /out:avatar-mod-winrt.lib user32.lib *.obj
          if %errorlevel% neq 0 exit /b 1